*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: "Inter Tight", "Inter", sans-serif;
    scroll-behavior: smooth;
}

*::before, *::after, * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

:root{
    --black: #010101;
    --blacksmoke:#d2d2d7;
    --white: white;
    --whitesmoke:  #F5F5F7;
    --blur: #ffffffb9;
    --theme:#ccb263;
    --placeholdercolor:#86868b;
    --ctacolor: #50ff39;
    --accordioncolor:#010101e7;
}

.dark{
    --black: white;
    --blacksmoke:#d2d2d7;/*A REVOIR*/
    --white: #010101;
    --whitesmoke: #1C1C1F;
    --blur: #000000b9;
    --theme:#7132b8;
    --placeholdercolor:#6a6a6b;
    --ctacolor: #1d860f;
    --accordioncolor:#ffffffe7;
}

body{
    min-width: 300px;
    max-width: 1800px;
    margin: 0 auto;
    color: var(--black);
    background-color: var(--white);
}

nav{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 52px;
    z-index: 9997;
    background-color: var(--blur);
    border-bottom: solid 1px var(--whitesmoke);
    -webkit-backdrop-filter: blur(22px);
    backdrop-filter: blur(22px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_content{
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_content button{
    background-color: transparent;
}

/*Dark mode button*/
.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    background-color: var(--theme);
    width: 50px;
    height: 26px;
    border-radius: 50px;
    border: solid 1px var(--);
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*.nav_content .material-icons{
    background: none;
    font-size: 17px;
}*/
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_content button{border: 0px;}

#moon, #sun{
    color: var(--white);
}

.checkbox-label .ball {
    background-color: var(--white);
    border: solid 3px var(--whitesmoke);
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
    transform: translateX(24px);
}

.content{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 130px 0px;
    flex-direction: column;
}

/*Text setting*/

p strong{
    font-size: 40px;
    font-weight: 600;
}

h2{
    font-size: 48px;
    font-weight: 700;
}

h3{
    font-size: 24px;
    font-weight: 600;
}

p{
    font-size: 18px;
    font-weight: 400;
}

.logo{
    font-size: 28px;
}

.one_liner{
    width: 700px;
    margin: 0 auto;
    text-align: center;
}

/*CTA*/

input{
    padding: 9px 16px;
    border: solid 1px var(--blacksmoke);
    border-radius: 10px;
    margin-bottom: 4px;
}

input::placeholder{
    color: var(--placeholdercolor);
}

.cta{
    padding: 9px 16px;
    border-radius: 10px;
    background-color: var(--ctacolor);
    border: solid 2px var(--black);
    font-weight: 500;
}

.cta:hover{
    cursor: pointer;
    background-color: var(--placeholdercolor);
    transition: 0.5s;
}

/*SUB IMG*/
.sub_img {
    width: 100%;
    height: 510px;
    background: url(téléchargement.jpeg);
    background-size: cover;
    background-position: center;
    background-color: #1C1C1F;
}

.img_credits{
    text-align: right;
    width: 100%;
    padding-right: 20px;
}

.img_credits a{
    text-align: right;
    color: var(--placeholdercolor);
}

@media only screen and (min-width: 768px) and (max-width: 1069px){
    .content{
        width: 692px;
        padding: 120px 0;
    }

    p strong{
        font-size: 32px;
    }

    h2{
        font-size: 40px;
    }
    
    h3{
        font-size: 21px;
    }
    
    p{
        font-size: 18px;
    }

    .logo{
        font-size: 24px;
    }

    .one_liner{
        width: 80%;
        max-width: 540px;
    }

    .sub_img {
        width: 100%;
        height: 250px;
    }
}

@media only screen and (max-width: 768px){
    .content{
        width: 87.5%;
        padding: 10% 0;
    }

    p strong{
        font-size: 30px;
    }

    h2{
        font-size: 32px;
    }
    
    h3{
        font-size: 19px;
    }
    
    p{
        font-size: 18px;
    }

    .logo{
        font-size: 21px;
    }

    .one_liner{
        width: 90%;
        max-width: 440px;
    }

    .sub_img {
        width: 100%;
        height: 350px;
    }
}

/*Header*/

/**FAQ**/
.accordion {
    margin: 0;
    padding: 0;
}

.accordion__item {
    position: relative;
    list-style-type: none;
    padding: 24px;
}

.accordion_title, .accordion__content{
    width: 95%;
}

.accordion__content{
    color: var(--accordioncolor);
}

.accordion__item:not(:last-of-type) {
    border-bottom: 1px solid #d7d9d8;
}

input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}

.accordion__arrow {
    position: absolute;
    right: 0;
    margin-top: 26px;
    margin-right: 3%;
}

.accordion__arrow::before, .accordion__arrow::after {
    content: "";
    position: absolute;
    background-color: var(--black);
    width: 3px;
    height: 9px;
    transition: transform 0.25s ease-in-out;
}

.accordion__arrow::before {
    transform: translateX(-2px) rotate(45deg);
}

.accordion__arrow::after {
    transform: translateX(2px) rotate(-45deg);
}

input[type="checkbox"]:checked ~ .accordion__arrow::before {
    transform: translateX(2px) rotate(45deg);
}

input[type="checkbox"]:checked ~ .accordion__arrow::after {
    transform: translateX(-2px) rotate(-45deg);
}

.accordion__content {
    position: relative;
    margin-top: 10px;
    opacity: 1;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    z-index: 2;
}

input[type="checkbox"]:checked ~ .accordion__content {
    max-height: 0;
    opacity: 0;
}

.faq_section h2{
    text-align: center;
    padding-bottom: 10%;
}

footer{
    background-color: var(--whitesmoke);
    text-align: center;
}
